table {
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
}

.pagination {
    margin: 20px 0;
}

.add-form {
    max-width: 400px;
}

.add-form input,
.add-form select {
    display: block;
    margin-bottom: 15px;
}