Django==1.11.7
django-debug-toolbar==1.9.1
django-filter==1.1.0
djangorestframework==3.7.3
factory-boy==2.9.2
Faker==0.8.7
pkg-resources==0.0.0
python-dateutil==2.6.1
python-status==1.0.1
pytz==2017.3
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.1
