{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
    <h1>Главная страница</h1>

    <div class="pagination">
            <span class="page-links js-page-links">
                <a class="js-prev-page-link" href="#">предыдущая</a>
                <a class="js-next-page-link" href="#">следующая</a>
            </span>
    </div>

    <table>
        <thead>
        <tr>
            <td><strong>Название книги</strong></td>
            <td><strong>Автор</strong></td>
            <td><strong>Категории</strong></td>
        </tr>
        </thead>
        <tbody class="js-book-list">
        </tbody>
    </table>

    <div class="pagination">
            <span class="page-links js-page-links">
                <a class="js-prev-page-link" href="#">предыдущая</a>
                <a class="js-next-page-link" href="#">следующая</a>
            </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'catalog/js/ajax.js' %}"></script>

{% endblock %}