{% extends 'layouts/base.html' %}

{% block body %}
    <h1>Главная страница</h1>
    <h3><a href="{% url 'add_book' %}">добавить книгу</a></h3>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% for i in paginator.page_range %}
                    <a href="{% url 'index' %}?page={{ i }}">{{ i }}</a>
                {% endfor %}
            </span>
        </div>
    {% endif %}

    <table>
        <thead>
        <tr>
            <td><strong>Название книги</strong></td>
            <td><strong>Автор</strong></td>
            <td><strong>Категории</strong></td>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book }}</td>
                <td>{{ book.author }}</td>
                <td>
                    {{ book.categories.all|join:", " }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Книги отсутствуют</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% for i in paginator.page_range %}
                    <a href="{% url 'index' %}?page={{ i }}">{{ i }}</a>
                {% endfor %}
            </span>
        </div>
    {% endif %}

{% endblock %}